
        <mat-toolbar class="padding-bottom">
          <span class="fill-remaining-space">Incription admin</span>
          <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" ><mat-icon>clear</mat-icon></button>
        </mat-toolbar>
        <form [formGroup]="submitForm" (submit)="onSubmit()">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label class="form-control-label">Prénom</label>
                <input formControlName="prenom" placeholder="Prénom" class="form-control">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="form-control-label">Nom</label>
                <input   class="form-control" formControlName="nom"  placeholder="Nom">
              </div>
              <span class="error ion-padding" *ngIf="isSubmitted && errorControl.titre.errors?.required">
              Champs obligatoire.
              </span>
          </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label class="form-control-label">Téléphone</label>
                <input formControlName="telephone"  placeholder="Numéro téléphone*"  class="form-control">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group" class="form-control-label">
                <label>Selectionner le profil*</label>
                <select formControlName="profil" class="form-control">
                  <option *ngFor="let profil of profil" [value]="profil.value">
                    {{profil.viewValue}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label">Adresse email*</label>
            <input formControlName="username"  placeholder="email" class="form-control">
          </div>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.titre.errors?.required">
            Champs obligatoire.
            </span>
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl.titre.errors?.minlength">
            Adresse trop court.
            </span>
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl.titre.errors?.pattern">
            Adresse invalide.
            </span>
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label type="password" class="form-control-label">Mot de passe</label>
                  <input formControlName="password" placeholder="mot de passe" class="form-control">
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label class="form-control-label">Cnfirmer le mot de passe</label>
                  <input  type="password" class="form-control" formControlName="confirmepassword"  placeholder="Mot de passe">
                </div>
                <span class="error ion-padding" *ngIf="isSubmitted && errorControl.titre.errors?.required">
                Champs obligatoire.
                </span>
              </div>
            </div>
          <div class="button-row">
            <button mat-raised-button color="primary" type="submit">Enregistrer</button>
            <button mat-raised-button color="warn" (click)="onClear()">Annuler</button>
          </div>
        </form>
