<footer class="main-footer" >
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <p>Copyright  &copy; 2017-2019</p>
      </div>
      <div class="col-sm-6 text-right">
        <p>Hakim Digital SA</p>
      </div>
    </div>
  </div>
</footer>
