
        <header class="page-header">
          <div class="container-fluid">
            <h2 class="no-margin-bottom">Gestion des paiements</h2>
          </div>
    </header>
        <!-- Updates Section-->
        <section class="updates no-padding-top">
          <div class="container-fluid  back">
          <div class="card-body">
            <div class="search-div" >
              <button mat-raised-button class="boutton-ajout" (click)="onCreate()" >
                <mat-icon aria-hidden="false" aria-label="Example add icon">add</mat-icon>Nouveau paiement
              </button>
              <mat-form-field class="search-form-field" floatLabel="never">
                <input matInput [(ngModel)]="searchKey" (keyup)="applyFilter()" placeholder="Rechercher un client" autocomplete="off">
              </mat-form-field>
              <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
                <mat-icon>close</mat-icon>
              </button>
            </div>
            <div class="mat-elevation-z8">
              <mat-table [dataSource]="dataSource"  matSort>

                <!-- Position Column -->
                <ng-container matColumnDef="dateoperation">
                  <mat-header-cell *matHeaderCellDef  mat-sort-header>Date d'opération</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.dateoperation | date:'MM/dd/yyyy'}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="numoperation">
                  <mat-header-cell *matHeaderCellDef  mat-sort-header>Numéro opération</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.numoperation}} </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="montant">
                  <mat-header-cell *matHeaderCellDef  mat-sort-header>Montant déposée </mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.montant}} </mat-cell>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="compte.clients.nomcomplet">
                  <mat-header-cell *matHeaderCellDef  mat-sort-header>Nom du client</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.compte.clients.nomcomplet}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef></mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <button mat-icon-button ><mat-icon>info</mat-icon></button>
                    <button mat-icon-button color="warn" ><mat-icon>delete_outline</mat-icon></button>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="loading">
                  <mat-footer-cell *matFooterCellDef colspan="6">
                    Loading data...
                  </mat-footer-cell>
                </ng-container>
                <ng-container matColumnDef="noData">
                  <mat-footer-cell *matFooterCellDef colspan="6">
                    No data.
                  </mat-footer-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataSource!=null}"></mat-footer-row>
                <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(dataSource!=null && dataSource.data.length==0)}"></mat-footer-row>
              </mat-table>

              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
          </div>
        </div>
      </section>

