
<div class="container-fluid">
<div class="page login-page">
  <div class="container d-flex align-items-center ">
    <div class="form-holder has-shadow">
      <div class="row">
        <!-- Logo & Information Panel-->
        <div class="col-lg-3">

        </div>
        <!-- Form Panel    -->
        <div class="col-lg-6 bg-white">
          <div class="form d-flex align-items-center">
            <div class="content">
              <form #f="ngForm" (ngSubmit)="onLogin(f.value)" class="form-validate">
                <div class="form-group">
                  <label for="username" class="label-material">Adresse email</label>
                  <input  ngModel id="username" type="email" name="username" required data-msg="Veillez entrer un email valide." class="form-control">
                </div>
                <div class="form-group">
                  <label  for="password" class="label-material">Mot de passe</label>
                  <input ngModel  id="password" type="password" name="password" required data-msg="Veillez entrer votre mot de passe" class="form-control">
                </div>
                <button  class="btn btn-primary" type="submit">Se connecter</button>
                <!-- This should be submit button but I replaced it with <a> for demo purposes-->
              </form>
            </div>
          </div>
        </div>
         <!-- Logo & Information Panel-->
         <div class="col-lg-3">

        </div>
      </div>
    </div>
  </div>
</div>
</div>


