.mat-form-field {
  font-size: 14px;
  width: 100%;
}
div.container{
  margin: 0px 40px;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

form.normal-form{
  margin: 10px;
}

.controles-container{
  width: 100%;
  padding: 5%;
}

.controles-container > * {
  width: 100%;
  }

  .add-bottom-padding{
      padding-bottom: 10px;
  }
  /* radio group */
mat-radio-group mat-radio-button{
  margin-left: 5px;
}

.button-row button{
  margin: 5px;
}

/* notification */
snack-bar-container.success {
  background-color: #5cb85c;
  color : #fff;
}

snack-bar-container.warn {
  background-color: #f99157;
  color : #fff;
}


snack-bar-container.notification simple-snack-bar{
  font-size: 18px !important;
  font-weight: bold;
}


.hide{
  display: none;
}
.btn-dialog-close{
  width: 45px;
  min-width: 0px !important;
  height: 40px;
  padding: 0px !important;
}
mat-header-cell {
  font-weight: bolder;
  background-color: #AAABAB;
  color:#ffffff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: medium;
}
mat-cell {
  font-weight: bolder;
  color:#778080;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* mat-table */
mat-footer-row mat-footer-cell{
  justify-content: center;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}


/* filter controls */

.search-div{
  margin: 1px;
    }
    .search-form-field{
        width: 30%;
        margin-left: 10px;
        padding: 5px 5px;

        border-radius: 5px;
        }
        .search-form-field div.mat-form-field-underline {
            display: none;
        }
        .search-form-field div.mat-form-field-infix{
            border-top: 1px;
        }
        .search-form-field div.mat-form-field-wrapper{
          padding-bottom: 1px;
      }
      .search-form-field div.mat-form-field-suffix button{
          height: 32px;
          width: 32px;
      }

      /* for dialog pop-up */
.btn-dialog-close{
  width: 45px;
  min-width: 0px !important;
  height: 40px;
  padding: 0px !important;
}
.boutton-ajout{
  color: #ffffff;
  background-color: #AAABAB;
  border-color: #D12D2F;
  font-weight: bolder;
}
