
        <header class="page-header">
          <div class="container-fluid">
            <h2 class="no-margin-bottom">Gestion des utilisateurs</h2>
          </div>
        </header>

        <!-- Updates Section-->
  <section class="updates no-padding-top">
      <div class="container-fluid  back">
      <div class="card-body">
        <div class="search-div" >
          <button mat-raised-button class="boutton-ajout" (click)="onCreate()">
            <mat-icon aria-hidden="false" aria-label="Example add icon">add</mat-icon>Nouveau client
          </button>
          <mat-form-field class="search-form-field" floatLabel="never">
            <input matInput [(ngModel)]="searchKey" (keyup)="applyFilter()" placeholder="Rechercher un client" autocomplete="off">
          </mat-form-field>
          <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <div class="mat-elevation-z8">
          <mat-table [dataSource]="dataSource"  matSort>

            <!-- Position Column -->
            <ng-container matColumnDef="photo">
              <mat-header-cell *matHeaderCellDef  mat-sort-header> Photo profil </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.photo}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="prenom">
              <mat-header-cell *matHeaderCellDef  mat-sort-header>Prénom</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.prenom}} </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="nom">
              <mat-header-cell *matHeaderCellDef  mat-sort-header> Nom </mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.nom}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="profil">
              <mat-header-cell *matHeaderCellDef  mat-sort-header> Profil</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.profil}} </mat-cell>
            </ng-container>
             <!-- Symbol Column -->
             <ng-container matColumnDef="telephone">
              <mat-header-cell *matHeaderCellDef  mat-sort-header>Téléphone </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.telephone}} </mat-cell>
            </ng-container>
            <!-- Weight Column -->
            <ng-container matColumnDef="username">
              <mat-header-cell *matHeaderCellDef  mat-sort-header>E-mail </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let row">
                <button mat-icon-button ><mat-icon>info</mat-icon></button>
                <button mat-icon-button ><mat-icon>https</mat-icon></button>
                <button mat-icon-button color="warn" ><mat-icon>delete_outline</mat-icon></button>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="loading">
              <mat-footer-cell *matFooterCellDef colspan="6">
                Loading data...
              </mat-footer-cell>
            </ng-container>
            <ng-container matColumnDef="noData">
              <mat-footer-cell *matFooterCellDef colspan="6">
                No data.
              </mat-footer-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataSource!=null}"></mat-footer-row>
            <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(dataSource!=null && dataSource.data.length==0)}"></mat-footer-row>
          </mat-table>

          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>
  </section>

