<div id="myModel" class="modal" *ngIf="modalStatus" >
  <div class="modal-content" [@dialog]>
    <div class= "header" [style.background-color]="backColor">
      <h3>{{title}}</h3>
      <span class= "close" (click)="resolve()" >&times;</span>
    </div>
    <div class="body">
      <p>{{body}}</p>
    </div>
    <div class="footer">
      <span class="footer-btn">
        <button (click)="resolve()">OK</button>

      </span>
    </div>

  </div>
</div>
