/* The Modal (background) */
.modal {

  display: block;
  position: fixed; /* Stay in place */
  z-index: 1031; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 0px;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
}

.header{

  background-color: #bd2130;

}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.body{
  text-align: center;
  padding-top: 2.2rem;
}

.footer-btn{
  float: right;
  padding-bottom: 20px;
  padding-right: 20px;
}

h3 {
  float: left;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  color: #fff;
}
