

        <header class="page-header">
          <div class="container-fluid">
            <h2 class="no-margin-bottom">Gestion clients</h2>
          </div>
        </header>

        <!-- Updates Section-->
  <section class="updates no-padding-top">
    <div class="container-fluid  back">
    <div class="search-div" >
      <button class="boutton-ajout" (click)="onCreate()" mat-raised-button >
        <mat-icon aria-hidden="false" aria-label="Example add icon">add</mat-icon>Ajouter un client
      </button>
      <mat-form-field class="search-form-field" floatLabel="never">
        <input matInput [(ngModel)]="searchKey" (keyup)="applyFilter()" placeholder="Rechercher un client" autocomplete="off">
      </mat-form-field>
      <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="mat-elevation-z8">
      <mat-table [dataSource]="dataSource"  matSort>

        <!-- Position Column -->
        <ng-container matColumnDef="datecreation">
          <mat-header-cell *matHeaderCellDef  mat-sort-header>Date d'ouverture</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.datecreation | date:'MM/dd/yyyy'}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="numerocompte">
          <mat-header-cell *matHeaderCellDef  mat-sort-header> Numéro compte </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.numerocompte}} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="clients.nomcomplet">
          <mat-header-cell *matHeaderCellDef  mat-sort-header> Nom </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.clients.nomcomplet}} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="clients.adresse">
          <mat-header-cell *matHeaderCellDef  mat-sort-header> Adresse </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.clients.adresse}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="clients.mobile">
          <mat-header-cell *matHeaderCellDef  mat-sort-header> Téléphone </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.clients.mobile}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="solde">
          <mat-header-cell *matHeaderCellDef  mat-sort-header> Solde (FCFA) </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.solde}} </mat-cell>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-icon-button ><mat-icon>info</mat-icon></button>
            <button mat-icon-button color="warn" ><mat-icon>delete_outline</mat-icon></button>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="loading">
          <mat-footer-cell *matFooterCellDef colspan="6">
            Loading data...
          </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="noData">
          <mat-footer-cell *matFooterCellDef colspan="6">
            No data.
          </mat-footer-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataSource!=null}"></mat-footer-row>
        <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(dataSource!=null && dataSource.data.length==0)}"></mat-footer-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>

  </div>
</section>
