
        <mat-toolbar>
          <!-- <span>{{submitForm.controls['$key'].value?"Modify Employee":"New Employee"}}</span> -->
          <span class="fill-remaining-space">Nouveau client </span>
          <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
        </mat-toolbar>
        <form [formGroup]="submitForm" (submit)="onSubmit()">
          <div class="form-group">
            <label class="form-control-label">Nom complet</label>
            <input formControlName="nomcomplet"  placeholder="Nom complet*"   class="form-control">
            
          </div>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.titre.errors?.required">
            Champs obligatoire.
            </span>
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl.titre.errors?.minlength">
            Nom trop court.
            </span>
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl.titre.errors?.pattern">
            Nom invalide.
            </span>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label class="form-control-label">Civilité</label>
                <select formControlName="civilite" class="form-control"  >
                  <option value="Mr.">Monsieur</option>
                  <option value="Mme">Madame</option>
                </select>
                <span class="error ion-padding" *ngIf="isSubmitted && errorControl.titre.errors?.required">
                Champs obligatoire.
                </span>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="form-control-label">Né(e) le</label>
                <input type="date"  class="form-control" formControlName="datenaisse" >
              </div>
              <span class="error ion-padding" *ngIf="isSubmitted && errorControl.titre.errors?.required">
                Champs obligatoire.
                </span>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label class="form-control-label">Email</label>
                <input formControlName="email" placeholder="Adresse email" class="form-control">
                 
              </div>
              <span class="error ion-padding" *ngIf="isSubmitted && errorControl.titre.errors?.minlength">
                Email trop court.
                </span>
                <span class="error ion-padding" *ngIf="isSubmitted && errorControl.titre.errors?.pattern">
                Email invalide.
                </span>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="form-control-label">Téléphone</label>
                <input formControlName="mobile"  placeholder="Numéro téléphone*"  class="form-control">
              </div>
              <span class="error" *ngIf="isSubmitted && errorControl.titre.errors?.required">
                Champs obligatoire.
                </span>
                <span class="error " *ngIf="isSubmitted && errorControl.titre.errors?.minlength">
                Téléphone trop court.
                </span>
                <span class="error " *ngIf="isSubmitted && errorControl.titre.errors?.pattern">
                Numéro invalide.
                </span>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label">Adresse</label>
            <input formControlName="adresse"  placeholder="adresse*" class="form-control">
            
          </div>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.titre.errors?.required">
            Champs obligatoire.
            </span>
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl.titre.errors?.minlength">
            Adresse trop court.
            </span>
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl.titre.errors?.pattern">
            Adresse invalide.
            </span>
          <div class="form-group">
            <textarea  type="text" placeholder="Commentaire client"   formControlName="commentaire" class="form-control" rows="3"></textarea>
          </div>
          <div class="button-row">
            <button mat-raised-button color="primary" type="submit">Enregistrer</button>
            <button mat-raised-button color="warn" (click)="onClear()">Annuler</button>
          </div>

<!--
          <mat-grid-list cols="2" rowHeight="300px">
            <mat-grid-tile>
              <div class="controles-container">
                <div class="add-bottom-padding">
                  <mat-radio-group formControlName="civilite">
                    <mat-radio-button value="Mr.">Monsieur</mat-radio-button>
                    <mat-radio-button value="Dame">Mme</mat-radio-button>
                  </mat-radio-group>
                </div>
                <mat-form-field>
                  <input formControlName="matricule" matInput placeholder="Numéro CNI*">
                </mat-form-field>

                <mat-form-field>
                  <input formControlName="nomcomplet" matInput placeholder="Nom complet*">
                </mat-form-field>
                <mat-form-field>
                  <input formControlName="adresse" matInput placeholder="adresse*">
                </mat-form-field>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="controles-container">
                <mat-form-field>
                  <input formControlName="mobile" matInput placeholder="Numéro téléphone*">
                </mat-form-field>
                <mat-form-field>
                  <textarea formControlName="commentaire" matInput placeholder="commentaire"></textarea>
                </mat-form-field>
                <div class="button-row">
                  <button mat-raised-button color="primary" type="submit">Submit</button>
                  <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
                </div>
              </div>
            </mat-grid-tile>
          </mat-grid-list> -->
        </form>
