<mat-toolbar>
  <!-- <span>{{submitForm.controls['$key'].value?"Modify Employee":"New Employee"}}</span> -->
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>
<form [formGroup]="submitForm" (submit)="onSubmit()">
      <div class="form-group">
        <label class="form-control-label">Numéro compte</label>
        <input formControlName="numerocompte" placeholder="Numéro compte*" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-control-label">Montant</label>
        <input placeholder="Montant(FCFA)*" formControlName="montant"  placeholder="Montant(FCFA)*" class="form-control">
      </div>
      <div class="button-row">
        <button mat-raised-button color="primary" type="submit">Envoyer</button>
        <button mat-raised-button color="warn" (click)="onClear()">Annuler</button>
      </div>
</form>

